@use "../util/mixins.scss" as mix;
.content {
  &.crew {
    h1 {
      text-transform: uppercase;
      letter-spacing: 4.72px;
      margin-bottom: 7vw;
    }
    .img-mobile {
      display: none;
    }
    .slider {
      .content-slider {
        h2 {
          font-family: "Bellefair", serif;
          font-weight: 400;
          font-size: 3vw;
          margin-top: 0;
          color: hsl(0, 0%, 100%);
        }
        h5 {
          font-family: "Bellefair", serif;
          font-weight: lighter;
          font-size: 2vw;
          color: hsla(0, 0%, 100%, 0.5);
        }
        .mobile-slider-header {
          display: none;
        }
        p {
          font-family: "Barlow", sans-serif;
          color: hsl(231, 70%, 90%);
          line-height: 2;
          margin-bottom: 7vw;
        }
        .bullets {
          @include mix.displayFlex(row, center, flex-start);
          width: 100%;
          gap: 1rem;
          button {
            width: 10px;
            aspect-ratio: 1;
            border-radius: 150px;
            border: none !important;
            transition: 0.5s ease;
            cursor: pointer;
            background-color: hsla(0, 0%, 100%, 0.452);
            &:hover {
              background-color: hsl(0, 0%, 100%);
              transform: scale(1.5);
            }
            &.glide__bullet--active {
              transform: scale(1.2);
              background-color: hsl(0, 0%, 100%) !important;
            }
          }
        }
      }
    }
  }
}

//Tablet
@media (max-width: 48em) {
  .content {
    &.crew {
      .title-img {
        .header-slider {
          width: 100%;
          h2 {
            text-align: center;
          }
        }
        .slider {
          .content-slider {
            h2 {
              text-align: center;
              font-size: 7vw;
            }
            h5 {
              text-align: center;
              font-size: 4vw;
            }
            p {
              width: 70%;
              margin: auto;
              text-align: center;
              font-size: 2vw;
            }
            .bullets {
              padding-top: 2rem;
              padding-bottom: 2rem;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 28.125em) {
  .content {
    &.crew {
      .title-img {
        .header-slider {
          display: none;
        }
        .img-mobile {
          @include mix.displayFlex(row, center, center);
          width: 90%;
          border-bottom: 1px solid gray;
          margin: auto;
          img {
            margin: auto;
            animation: none;
          }
        }
        .slider {
          .content-slider {
            @include mix.displayFlex(column, center, center);
            flex-flow: column-reverse;
            .mobile-slider-header {
              display: block;
              width: 100%;
              h3,
              h4 {
                font-family: "Bellefair", serif;
                padding: 0;
                font-weight: lighter;
                text-align: center;
              }
              h3 {
                color: hsla(0, 0%, 100%, 0.5);
                font-size: 4vw;
              }
              h4 {
                color: hsla(0, 0%, 100%);
                font-size: 7vw;
              }
            }
            h2,
            h5 {
              display: none;
            }
            p {
              width: 100%;
              font-size: 4vw;
            }
          }
        }
      }
    }
    &.crew .wrapper-slider {
      display: none;
    }
  }
}
